In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'data/rawdata/0_C_raw_btc_price_data.csv')

In [4]:
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4857377 entries, 0 to 4857376
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   Timestamp          int64
 1   Open               float64
 2   High               float64
 3   Low                float64
 4   Close              float64
 5   Volume_(BTC)       float64
 6   Volume_(Currency)  float64
 7   Weighted_Price     float64
dtypes: float64(7), int64(1)
memory usage: 296.5 MB

In [6]:
# 'Timestamp' is in Epoch format, convert to datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='s')  # Convert epoch to datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'])  # Mark datatype as Timestamp

In [7]:
# Filter out empty columns
df_filtered = df[df['Open'].notna() & (df['Open'] != '')]

# Extract year and month from 'timestamp' and create new columns
df_filtered['year'] = df_filtered['Timestamp'].dt.year
df_filtered['month'] = df_filtered['Timestamp'].dt.month

# Group by year and month, and get the count of records in each group
count_by_year_month = df_filtered.groupby(['year', 'month']).size().reset_index(name='record_count')

# Display the result
print(count_by_year_month)

     year  month  record_count
0    2011     12             4
1    2012      1           501
2    2012      2           577
3    2012      3           593
4    2012      4           760
..    ...    ...           ...
107  2020     11         43052
108  2020     12         44613
109  2021      1         44617
110  2021      2         40293
111  2021      3         43115

[112 rows x 3 columns]

/var/folders/7l/pjbgsg_54hn3t90_14n49nmm0000gq/T/ipykernel_54083/2633998304.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['year'] = df_filtered['Timestamp'].dt.year
/var/folders/7l/pjbgsg_54hn3t90_14n49nmm0000gq/T/ipykernel_54083/2633998304.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['month'] = df_filtered['Timestamp'].dt.month

In [8]:
# Filter records between 2016-01-01 and 2019-03-29 (because tweets are available between these dates)
start_date = '2013-05-01'
end_date = '2019-11-01'
filtered_df = df[(df['Timestamp'] >= start_date) & (df['Timestamp'] <= end_date)]

In [9]:
filtered_df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
700808,2013-05-01 00:00:00,139.87,139.87,139.87,139.87,1.302965,182.245677,139.870000
700809,2013-05-01 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700810,2013-05-01 00:02:00,139.87,139.87,138.60,138.60,4.000000,555.695770,138.923943
700811,2013-05-01 00:03:00,139.84,139.84,139.84,139.84,0.200000,27.968000,139.840000
700812,2013-05-01 00:04:00,139.84,139.84,139.84,139.84,0.800000,111.872000,139.840000

In [28]:
# Export the filtered data to a CSV file
filtered_df.to_csv('data/rawdata/1_A_btc_price_data_2013-05-01_2019-11-01.csv', index=False)