In [19]:
import pandas as pd

In [20]:
df = pd.read_csv(r'data/rawdata/0_D_raw_btc_tweet_data.csv', sep=';', usecols=['timestamp','text'], parse_dates=['timestamp'], dtype={'text': str})

In [21]:
df.head()

                  timestamp                                               text
0 2019-05-27 11:49:14+00:00  È appena uscito un nuovo video! LES CRYPTOMONN...
1 2019-05-27 11:49:18+00:00  Cardano: Digitize Currencies; EOS https://t.co...
2 2019-05-27 11:49:06+00:00  Another Test tweet that wasn't caught in the s...
3 2019-05-27 11:49:22+00:00  Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4 2019-05-27 11:49:23+00:00  Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20165013 entries, 0 to 20165012
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns, UTC]
 1   text       object
dtypes: datetime64[ns, UTC](1), object(1)
memory usage: 307.7+ MB

In [23]:
# Assuming "timestamp" is the name of the column
min_timestamp = df['timestamp'].min()
max_timestamp = df['timestamp'].max()

print(f"Minimum Timestamp: {min_timestamp}")
print(f"Maximum Timestamp: {max_timestamp}")

Minimum Timestamp: 2007-04-19 07:14:38+00:00
Maximum Timestamp: 2019-11-23 15:45:57+00:00

In [24]:
# Extract year and month from 'timestamp' and create new columns
df['year'] = df['timestamp'].dt.year
df['month'] = df['timestamp'].dt.month

# Group by year and month, and get the count of records in each group
count_by_year_month = df.groupby(['year', 'month']).size().reset_index(name='record_count')

# Display the result
print(count_by_year_month)

       year  month  record_count
0    2007.0    4.0             1
1    2009.0    1.0             4
2    2009.0    2.0             1
3    2009.0    6.0             5
4    2009.0    9.0             1
..      ...    ...           ...
116  2019.0    7.0       2560831
117  2019.0    8.0       2059752
118  2019.0    9.0       2047374
119  2019.0   10.0       1880491
120  2019.0   11.0       1322463

[121 rows x 3 columns]

In [25]:
# Filter records between 2016-01-01 and 2019-03-29 (because tweets are available between these dates)
start_date = '2013-05-01'
end_date = '2019-11-01'
filtered_df = df.loc[(df['timestamp'] >= start_date) & (df['timestamp'] <= end_date), ['timestamp', 'text']]

In [26]:
filtered_df.head()

                  timestamp                                               text
0 2019-05-27 11:49:14+00:00  È appena uscito un nuovo video! LES CRYPTOMONN...
1 2019-05-27 11:49:18+00:00  Cardano: Digitize Currencies; EOS https://t.co...
2 2019-05-27 11:49:06+00:00  Another Test tweet that wasn't caught in the s...
3 2019-05-27 11:49:22+00:00  Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4 2019-05-27 11:49:23+00:00  Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...

In [27]:
# Export the filtered data to a CSV file
filtered_df.to_csv('data/rawdata/1_B_btc_tweet_data_2013-05-01_2019-11-01.csv', index=False)

In [28]:
# %reset -f